@use '../styles/abstracts/color' as *;
@use '../styles/base/reset' as *;
.app-nav-header {
	// width: 100%;

	// display: flex;

	align-items: center;
	background: $dark-color;
	// margin: 0 auto;

	&--items {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 6.8rem;
		max-width: 1200px;
		margin: 0 auto;

		&__logo {
			color: $orange-500;
			font-size: 2.5rem;
			font-weight: bold;
			margin-right: auto;
			margin-left: 20px;
			text-decoration: none;
		}

		&__link {
			color: $orange-500;
			font-size: 1.8rem;
			text-decoration: none;
			margin-left: 40px;
			margin-right: 20px;
			padding: 8px;
			display: flex;

			button {
				font-size: 1.8rem;
				text-align: center;
				border: none;
				font-weight: bolder;
				text-decoration: none;
				color: $orange-500;
				background-color: $dark-color;
				transition: all 0.2s;
			}

			button:hover {
				background: $white-100;
				color: $dark-color;
				cursor: pointer;
				border: 1px solid $white-100;
			}

			.horizontalgap {
				float: left;
				overflow: hidden;
				height: 1px;
				width: 5px;
			}

			&-url {
				color: $orange-500;

				border-radius: 4px;
				text-decoration: none;
				margin-right: 3px;

				text-decoration: none;
				// background: wheat;
				font-weight: bold;
				display: flex;
				align-items: center;
				padding: 2px;
				transition: all 0.2s;
			}

			&-url:last-child {
				margin-left: 5px;
			}

			&-url:hover {
				background: $white-100;
				color: $dark-color;
				cursor: pointer;
				border: 1px solid $white-100;
			}
		}
	}
}
